@font-face {
    font-family: suraj;
    src: url(./Mazius-Extraitalic.121a71a7.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

/* loader section */
.loader{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #161616;
}

.top-heading{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.top-heading h5{
    text-transform: uppercase;
    color: white;
    font-size: 0.8vw;
    text-align: center;
    font-weight: 100;
}

.loader h1{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4vw;
}

.loader h1 .parent{
    width: 100%;
    display: flex;
    justify-content: center;
}

.reveal .parent{
    overflow: hidden;
}

.child span{
    display: inline-block;
}

.surname{
    color: #14CF93;
    font-family: suraj;
}

.green-screen{
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 999;
    top: 100%;
    background-color: #14CF93;
}

.loading-container{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.loading{
    background-color: #161616;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #161616;
    border-top: 3px solid #dadada;
    border-bottom: 3px solid #dadada;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* home section */
.home{
    width: 100%;
    height: 200vh;
    background-color: #FCFAF8;
}

.nav{
    height: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

.nav a{
    text-decoration: none;
    font-size: .83vw;
    color: #161616;
    text-transform: uppercase;
    position: relative;
}

.line{
    position: absolute;
    background-color: #161616;
    height: 1px;
    bottom: 0;
}

.line1{
    left: 0;
    width: 0%;
    transition: all 0.4s;
    transition-delay: 0.2s;
}

.line2{
    right: 0;
    width: 100%;
    transition: all 0.4s;
}

.nav a:hover .line1{
    width: 100%;
}
.nav a:hover .line2{
    width: 0%;
}

@media (max-width:600px){
    .top-heading h5{
        font-size: 2.3vw;
    }
    .loader h1{
        font-size:7vw;
    }
    .nav{
        padding: 0 8vw;
        height: 70px;
    }
    .nav a{
        font-size: 3.5vw;
    }
    .nav a:nth-child(2),a:nth-child(3){
        display: none;
    }
    .line{
        display: none;
    }
}