* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    position: relative;
}

.page1{
    width: 100%;
    height: 100%;
    background-color: rgb(52, 50, 50);
}
.page2{
    width: 100%;
    height: 0;
    background-color: rgb(72, 167, 127);
    position: absolute;
    bottom: 0;
}
.page3{
    width: 100%;
    height: 100%;
    background-color: #dadada;
}

