@font-face {
    font-family: suraj;
    src: url(./Mazius-Extraitalic.121a71a7.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

.loader{
    width: 100%;
    height: 100vh;
    background-color: #161616;
}

.top-heading{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.top-heading h5{
    text-transform: uppercase;
    color: white;
    font-size: 0.8vw;
    text-align: center;
    font-weight: 100;
}

.loader h1{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4vw;
}

.loader h1 .parent{
    width: 100%;
    display: flex;
    justify-content: center;
}

.reveal .parent{
    overflow: hidden;
}

.child span{
    display: inline-block;
}

.surname{
    color: #14CF93;
    font-family: suraj;
}

.green-screen{
    width: 100%;
    height: 0;
    position: absolute;
    top: 100%;
    background-color: #14CF93;
}

.loading-container{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.loading{
    background-color: #161616;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #161616;
    border-top: 3px solid #dadada;
    border-bottom: 3px solid #dadada;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width:600px){
    .top-heading h5{
        font-size: 2.3vw;
    }
    .loader h1{
        font-size: 7vw;
    }
}