* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.page1{
    width: 100%;
    height: 100vh;
    background-color: rgba(19, 97, 241, 0.81);
    display: grid;
    place-items: center;
}
.page2{
    width: 100%;
    height: 100vh;
    background-color: rgba(76, 134, 243, 0.791);
    display: grid;
    place-items: center;
}
.page3{
    width: 100%;
    height: 100vh;
    background-color: rgba(115, 159, 241, 0.799);
    display: grid;
    place-items: center;
}

.box{
    width: 250px;
    height: 250px;
    background-color: #dada;
}